.dayview-container::-webkit-scrollbar {
  width: 0;
}
.dayview-container {
  position: relative;
  height: 100%;
  padding-top: 72px;
}

.dayview-content {
  height: 100%;
  position: relative;
  padding-top: 47px;
}

/* TIMED TASKS CONTENT */
.dayview-container .timed-tasks-section {
  overflow-y: auto;
  scrollbar-width: thin;
}

/* UNTIMED TASKS CONTENT */
.dayview-container .untimed-tasks-section {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.dayview-container .untimed-tasks-section p {
  font-size: 14px;
}

.dayview-container .untimed-tasks-content {
  overflow-y: auto;
}