/* TASKLIST TOP BAR */
.tasklist-options {
  position: sticky;
  top: 0px;
  right: 30px;
  display: flex;
  border-bottom: 1.5px solid rgb(117, 128, 137);
  align-items: center;
}

.sort-tasks {
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: medium;
}

.filter-dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: -90px;
  z-index: 500;
  font-family: monospace;
  font-size: smaller !important;
}

.select-all {
  font-family: monospace !important;
  font-size: medium !important;
}

.delete-tasks {
  padding-left: 13px !important;
  padding-right: 13px !important;
  padding-top: 1px !important;
  padding-bottom: 4.5px !important;
  font-size: large !important;
}
.delete-tasks:disabled {
  border: 1px solid black !important;
}

/* TASKLIST CONTENT */
.task-item {
  border: none;
  border-radius: 7px;
  margin-bottom: 7px;
}

.task-period {
  font-size: 15px;
}

.task-info h4 {
  font-size: 18px;
}

.task-info p {
  font-size: 15px;
}