.chat {
  background-color: rgba(28, 52, 84, 1);
}

.chat .chat-area {
  max-width: 800px;
}

.chat .input-area {
 background-color: rgba(140, 187, 203, 1);
}

.chat form {
  background-color: transparent;
  max-width: 800px;
}

.chat .form-control {
  resize: none;
  overflow-y: auto;
  white-space: pre-wrap;
  line-height: 1.5;
}
.chat .form-control:focus {
  border: 1px solid rgba(28, 52, 84, 1);
  box-shadow: none;
}

.send-btn {
  background-color: transparent;
  border-radius: 20%;
  border: none;
  width: 3rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: rgba(28, 52, 84, 1);
}
.send-btn:active {
  color: rgba(243, 235, 235, 1);
}
.send-btn:active:disabled {
  color: rgba(28, 52, 84, 1);
}


/* blue rgba(140, 187, 203, 1); */
/* blue dark rgba(121, 164, 179, 1); */
/* navy rgba(28, 52, 84, 1); */
/* cream rgba(243, 235, 235, 1); */