.menu-toggle-btn {
  position: fixed;
  top: 10px;
  left: 15px;
  z-index: 1100;
  background: transparent;
  border: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.menu-overlay.open {
  z-index: 1000;
}

.menu-panel {
  position: fixed;
  top: 0;
  left: -210px;
  height: 100vh;
  width: 210px;
  background-color: rgba(33, 37, 41, 0.95);
  color: white;
  padding-top: 25px;
  transition: left 0.3s ease;
  z-index: 1050;
}
.menu-panel.open {
  left: 0;
}

h5 {
  font-family: "Lucida Console", "Courier New", monospace;
}

/* MENU OPTIONS */
.menu-panel li button {
  background-color: transparent;
}
.menu-panel li button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.logout {
  color: rgba(140, 187, 203, 1);
}
.logout:hover {
  color: rgb(220, 53, 69, 1);
}
.logout:active {
  color: rgb(220, 53, 69, 1);
}